pipeline/indexitemswapping.json
{
	"name": "indexitemswapping",
	"properties": {
		"activities": [
			{
				"name": "leftElement",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "leftarray",
					"value": {
						"value": "@take(variables('inputarray'),pipeline().parameters.index1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "rightelement",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rightarray",
					"value": {
						"value": "@skip(variables('inputarray'),add(pipeline().parameters.index2, 1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "outputArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "leftElement",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "rightelement",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputarray",
					"value": {
						"value": "@createArray(variables('leftarray'),variables('inputarray')[pipeline().parameters.index2],variables('inputarray')[pipeline().parameters.index1],variables('rightarray'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"index1": {
				"type": "int",
				"defaultValue": 2
			},
			"index2": {
				"type": "int",
				"defaultValue": 3
			}
		},
		"variables": {
			"inputarray": {
				"type": "Array",
				"defaultValue": [
					54,
					32,
					68,
					43,
					59,
					62,
					71
				]
			},
			"outputarray": {
				"type": "Array"
			},
			"leftarray": {
				"type": "Array"
			},
			"rightarray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}