pipeline/reversearray.json
{
	"name": "reversearray",
	"properties": {
		"activities": [
			{
				"name": "lengtharray",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arraylength",
					"value": {
						"value": "@string(length(pipeline().parameters.inputarray))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RangeofIndex",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lengtharray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rangeindex",
					"value": {
						"value": "@range(0, length(pipeline().parameters.inputarray))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "RangeofIndex",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.inputarray",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "arraylength",
								"value": {
									"value": "@string(length(item()))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"inputarray": {
				"type": "array",
				"defaultValue": [
					"a",
					"b",
					"c",
					"d"
				]
			}
		},
		"variables": {
			"arraylength": {
				"type": "String"
			},
			"rangeindex": {
				"type": "Array"
			},
			"outputarray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}