pipeline/swappingarrayelements.json
{
	"name": "swappingarrayelements",
	"properties": {
		"activities": [
			{
				"name": "leftarray",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "leftelement",
					"value": {
						"value": "@take(variables('inputarray'),pipeline().parameters.index1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "rightarray",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rightelement",
					"value": {
						"value": "@skip(variables('inputarray'),add(pipeline().parameters.index2, 1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "middleelements",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "middleelements",
					"value": {
						"value": "@take(skip(variables('inputarray'),add(pipeline().parameters.index1,1)),sub(pipeline().parameters.index2, 1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "outputarray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "leftarray",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "rightarray",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "middleelements",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ouputarray",
					"value": {
						"value": "@createArray(variables('leftelement'),pipeline().parameters.index2,variables('middleelements'),pipeline().parameters.index1,variables('rightelement'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"index1": {
				"type": "int",
				"defaultValue": 1
			},
			"index2": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"inputarray": {
				"type": "Array",
				"defaultValue": [
					"[54",
					"32",
					"68",
					"43",
					"69",
					""
				]
			},
			"ouputarray": {
				"type": "Array"
			},
			"cleanedoutput": {
				"type": "Array"
			},
			"leftelement": {
				"type": "Array"
			},
			"rightelement": {
				"type": "Array"
			},
			"middleelements": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}